// Plugins
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~flatpickr/dist/flatpickr.css';
@import '~flatpickr/dist/themes/airbnb.css';
@import '~select2/src/scss/core';
@import '~select2-bootstrap-5-theme/src/include-all';
@import 'plugins/bootstrap-tagsinput';

// Base
@import 'base/fonts';
@import 'base/images';
@import 'base/theme-transitions';
@import 'base/type';

// Components
@import 'components/alerts';
@import 'components/autocomplete';
@import 'components/back-to-top';
@import 'components/breadcrumb';
@import 'components/cards';
@import 'components/datagrids';
@import 'components/datepicker';
@import 'components/dropdowns';
@import 'components/empty-state';
@import 'components/forms';
@import 'components/form-collection';
@import 'components/loading';
@import 'components/modal';
@import 'components/navbar';
@import 'components/navs';
@import 'components/page-header';
@import 'components/pagination';
@import 'components/tables';
@import 'components/toasts';

// Layouts
@import 'layouts/framework';
@import 'layouts/search';
@import 'layouts/header';
@import 'layouts/actions';
