// Bootstrap
@import '~bootstrap/scss/functions';
@import 'themes/dark';
@import 'bootstrap-variables';
@import '~bootstrap/scss/variables';
@import 'bootstrap-imports';

// Imports
@import 'imports';

// Dark theme styles
@import 'dark/datepicker';
@import 'dark/mark';
@import 'dark/fontawesome';

.accordion-button:not(.collapsed) {
  background: $gray-850;
}

@each $state, $value in $theme-colors {
  .alert-#{$state} {
    background-color: rgba($value, 0.25);
    color: mix(white, $value, 80%);

    &::before {
      color: mix(white, $value, 80%);
    }
  }
}

.list-group-item {
  background-color:  $gray-850;;
  color: $body-color;
}

@each $state, $value in $theme-colors {
  .list-group-item-#{$state} {
    background-color:  $gray-850;;
    color: $body-color;
    border-left: 3px solid $value;
  }
}

@each $state, $value in $theme-colors {
  .btn-#{$state} {
    background-color:  rgba($value, 0.8);
    border-color:  rgba($value, 0.8);
  }
}
