.breadcrumb {
  color: $text-muted;
  white-space: nowrap;
  z-index: 99;

  .breadcrumb-item {
    float: none;
    display: inline-block;

    a {
      color: $text-muted;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }

      &.breadcrumb-link-back {
        color: $link-color;
        cursor: pointer;
        text-decoration: underline;

        &:hover {
          color: $link-hover-color;
          text-decoration: none;
        }
      }
    }

    &.first:before {
      content: none;
    }
  }

  > li + li:before {
    font-size: $font-size-sm;
    padding-right: 10px;
  }

  li {
    padding: 0 4px;
  }
}

.touch .breadcrumb {
  overflow-x: scroll;
}

.breadcrumb-mobile {
  padding: ($spacer * 0.5) $spacer;
  font-size: $font-size-sm;

  .breadcrumb-item:first-of-type {
    padding-left: 0;
  }
}

@include media-breakpoint-up(md) {

  .breadcrumb .breadcrumb-item.first:before {
    content: '|';
  }
}
