.card {
  margin-bottom: 30px;

  .card-header {
    padding: $card-spacer-x;
    background-color: $primary;
    @if (lightness($primary) < 50) {
      color: $white; // Darker background, return light color
    }

    .card-title {
      margin-bottom: 0;

      h1:last-child,
      h2:last-child,
      h3:last-child,
      h4:last-child,
      h5:last-child,
      h6:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.card-dashboard {
    cursor: pointer;
    position: relative;
    transition: box-shadow 0.25s;

    &:hover {
      box-shadow: $box-shadow;
    }

    &:focus-within {
      box-shadow: $box-shadow;

      a:focus {
        text-decoration: none;
      }
    }

    i {
      font-size: 4rem;
      margin-bottom: 1rem;
    }

    h2 {
      font-size: $font-size-base;
    }

    a {
      color: $body-color;

      &:after {
        content:  '';
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }

      &:hover {
        text-decoration: none;
      }

      &:focus {
        text-decoration: underline;
      }
    }
  }
}

@include media-breakpoint-up(md) {

  .card {

    &.card-dashboard {

      h2 {
        font-size: $font-size-base * 1.2;
      }

      i {
        margin-bottom: 2rem;
      }
    }
  }
}

@include media-breakpoint-up(lg) {

  .card {

    &.card-dashboard .card-body {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
}
