// Link color
@function color-text-yiq($color) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

  @if ($yiq >= $yiq-contrasted-threshold) {
    @return darken($color, 20%);
  } @else {
    @return $color;
  }
}

// Link hover color
@function color-text-hover-yiq($color) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

  @if ($yiq >= $yiq-contrasted-threshold) {
    @return darken($color, 35%);
  } @else {
    @return darken($color, 15%);
  }
}

// Link color
@function color-dark-text-yiq($color) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

  @if ($yiq >= $yiq-contrasted-threshold) {
    @return lighten($color, 20%);
  } @else {
    @return $color;
  }
}

// Link hover color
@function color-dark-text-hover-yiq($color) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

  @if ($yiq >= $yiq-contrasted-threshold) {
    @return lighten($color, 35%);
  } @else {
    @return lighten($color, 15%);
  }
}
