.bg-primary,
.bg-success,
.bg-info,
.bg-warning,
.bg-danger {
  color: $white;
}

.text-success {
  color: $success;
}

.text-warning {
  color: $warning;
}

.text-danger {
  color: $danger;
}

.helper-classes-bg p {
  padding: 15px;
}
