@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(15px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(7px);
  }
}

.logo {
  background-position: center center;
  background-size: auto 50px;
  color: $white;
  display: flex;
  min-height: 100px;
}

.logo-application {
  background: url('/assets/images/logo-application.svg') no-repeat;
}

.navbar-brand {
  background-color: $white;
  margin-left: 15px;
  margin-right: 0;
  padding: 0;

  img {
    margin: 5px auto;
    max-height: 80px;
  }
}

.navbar {
  border: 0;
  margin-bottom: 0;
  z-index: 9999999;
}

.navbar-default {

  .navbar-brand {
    background-color: $gray-300;
    font-style: normal;
    font-weight: normal;

    &:hover {
      background-color: $gray-300;
      color: $gray-700;
    }
  }

  .navbar-header {
    background-color: $gray-300;
  }
}

.navbar-toggler {
  background-color: transparent;
  border: none;
  color: $dark;

  .navbar-toggler-icon {
    background-color: $dark;
    height: 3px;
    margin: 10px 0;
    position: relative;
    transition: background-color 0.2s;
    width: 20px;

    &:before,
    &:after {
      background-color: $dark;
      content: '';
      height: 3px;
      left: 0;
      position: absolute;
      transition-property: transform, top, bottom;
      transition-duration: 0.2s;
      width: 20px;
    }

    &:before {
      top: -6px;
    }

    &:after {
      bottom: -6px;
    }
  }

  &:not(.collapsed) {

    .navbar-toggler-icon {
      background-color: transparent;

      &:before {
        top: 0;
        transform: rotate(45deg);
      }

      &:after {
        bottom: 0;
        transform: rotate(-45deg);
      }
    }
  }
}

.main-menu {
  left: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;

  .navbar {
    align-items: stretch;

    .navbar-header {
      padding: 5px 10px;
    }
  }

  .navbar-default {

    .navbar-brand {
      background-color: transparent;
      color: $gray-300;
    }

    .navbar-header {
      background-color: $white;
    }
  }

  .navbar-collapse {

    &.show {
      max-height: calc(100vh - 90px);
      overflow-y: scroll;
    }

    .nav {
      margin-bottom: 0;
      margin-top: 0;
    }

    .nav-item {
      background-color: $primary;
      color: $white;
      position: relative;

      &.current {
        background-color: darken($primary, 10%);
      }

      &.current .nav-link,
      &.dropdown.show .nav-link {

        &:before {
          transform: translateX(7px);
        }

        &:hover:before,
        &:focus:before {
          animation: none;
        }
      }

      .nav-link {
        color: color-yiq($primary);
        font-style: normal;
        font-weight: bold;
        padding: 1.7rem 1rem 1.7rem 1.6rem;
        position: relative;
        transition: background-color 0.25s;

        &:before {
          background-color: color-yiq($primary);
          border-radius: 50%;
          content: '';
          height: 15px;
          left: -16px;
          position: absolute;
          top: calc(50% - 7px);
          transition: transform 0.3s;
          width: 15px;
        }

        @include hover-focus {
          background-color: darken($primary, 5%);

          &:before {
            animation: bounce 1s 1;
            transform: translateX(7px);
          }
        }

        &.dropdown-toggle:after {
          display: none;
        }
      }

      &.dropdown {

        &.show {
          .fa-chevron-down {
            transform: rotate(180deg);
          }
        }
      }
    }

    .dropdown-menu {
      background-color: transparent;
      margin: 0;
      padding: 0;
      position: relative;
      top: auto;

      li a.dropdown-item {
        color: $white;
        padding: 1.3rem 1rem 1.3rem 2.8rem;
        position: relative;

        &:before {
          border-radius: 50%;
          background-color: $white;
          content: '';
          height: 15px;
          left: -16px;
          position: absolute;
          top: calc(50% - 7px);
          transition: transform 0.3s;
          width: 15px;
        }

        @include hover-focus {
          background-color: transparent;

          &:before {
            animation: bounce 1s 1;
            transform: translateX(7px);
          }
        }
      }
    }

    .fa-chevron-down {
      margin-top: -8px;
      position: absolute;
      right: 15px;
      top: 50%;
      transition: 300ms;
    }

    .open {

      .dropdown-menu {
        padding-bottom: 0;
        padding-top: 0;
        position: relative;
        display: block;

        .current .dropdown-item,
        li a:hover {
          background-color: $primary;
          color: $white;
        }
      }
    }

    .toggle-menu-visibility {
      position: fixed;
      bottom: 0;
      left: 0;
      width: $sidebar-width-open;

      .nav-item {
        background-color: $white;
        color: $text-muted;

        .nav-link {
          color: $text-muted;
          cursor: pointer;

          @include hover-focus {
            background-color: $light;
          }
        }
      }

      i {
        transition: transform 0.3s;
      }
    }
  }
}

@include media-breakpoint-up(md){

  .nav-link {
    height: 79px;
  }

  #content-wrapper {
    margin-top: 0;
  }

  .navbar-brand {
    height: #{$topbar-height-md};
    margin-left: 0;

    img {
      max-height: calc(#{$topbar-height-md} - 10px);
    }
  }

  .logo {
    background-size: 80% auto;
  }

  .wrapper-brand {
    padding: 20px;
  }

  .main-menu {
    background-color: $primary;
    height: 100%;
    left: 0;
    overflow-x: auto;
    position: fixed;
    width: $sidebar-width-open;
    z-index: 950;
    -ms-overflow-style: none;

    .navbar-header {
      float: left;
      width: $sidebar-width-open;
    }

    ul,
    li {
      width: 100%;
    }

    ul {
      border: 0;
    }

    .dropdown.first {
      border-top: 0;
    }

    .navbar-collapse {
      background-color: $primary;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 78px;
    }
  }

  .sidebar-collapsed {

    &.main-wrapper,
    .main-header {
      padding-left: $sidebar-width-closed;
    }

    .main-menu {
      width: $sidebar-width-closed;

      .navbar-collapse {

        .toggle-menu-visibility  {
          width: $sidebar-width-closed;

          i {
            transform: rotate(180deg);
          }
        }

        .dropdown-menu li a.dropdown-item {
          padding-left: 1.6rem;
        }
      }
    }

    .nav-link-text,
    .navbar-collapse .fa-chevron-down {
      display: none;
    }
  }
}
