.table {
  .success,
  .info,
  .warning,
  .danger {
    color: $white;
  }

  .active {
    background-color: $dropdown-bg;
  }
}

table.table {
  border-bottom: $table-border-width solid $table-border-color;

  thead {
    background-color: $white;
    font-style: normal;
    font-weight: $font-weight-bold;

    th {
      border-bottom: none;
      border-top: none;
    }
  }
}
