.header-title {
  padding: 15px;

  .progress-bar {
    float: none;
    width: auto;
  }

  h1 {
    margin-bottom: 0;
  }
}

.header-title-bar {
  border-bottom: 1px $gray-500 solid;
  border-top: 1px $gray-500 solid;
  overflow: hidden;
  padding: 20px 19px;

  h2 {
    color: $gray-500;
    font-style: normal;
    font-weight: normal;
    margin: 0;
  }
}

.actions {
  background-color: $dropdown-bg;
  border-bottom: 1px $gray-500 solid;
  display: block;
  padding: 14px 15px 10px 20px;

  .btn-info {
    background-color: theme-color('info');
    border-color: transparent;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 600;

    &:hover,
    &:focus {
      background-color: darken(theme-color('info'), 15%);
    }
  }

  .btn {
    padding: 5px 10px 7px;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-content {
  padding: 40px 0;
}

.back-to-top {
  background-color: $white;
  bottom: 0;
  box-shadow: $box-shadow;
  display: none;
  margin: 15px 0;
  opacity: 0;
  position: fixed;
  padding: 10px 30px 10px 20px;
  right: 0;
  transform: translateX(calc(100% - 50px));
  transition: transform 0.25s ease-in-out;

  &:hover {
    transform: translateX(0);
  }

  &.show {
    display: block;
    animation: show 0.35s 1 forwards;
  }
}

.btn[disabled] {
  pointer-events: all;
}


@include media-breakpoint-up(sm) {

  #main {
    padding-top: $topbar-height-sm;
  }

  .header-title-bar {
    border-top-width: 0;
    padding: 16px 18px;
  }

  .actions {
    padding: 14px 15px 14px 20px;
  }

  .action-buttons {
    float: right;
  }
}

@include media-breakpoint-up(md) {

  #main {
    padding-top: $topbar-height-md;
  }
}
